/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  background-color: #060b1c;

}

.hero_content {
  background-color: #0E1428;
}

.poster>img {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  width: 650px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
}

.poster>img:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

.movie_card {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #161d35;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.featured_card:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  scale: 1.1;
}

@media screen and (max-width: 768px) {
  .featured_card {
    margin-bottom: 1rem;
  }

  .featured_card:hover {
    margin-bottom: 1rem;
    scale: 1;
  }

}