.todo-container {
  max-height: 323px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 768px) {
  .todo-container {
    max-height: 535px;
    grid-template-columns: 1fr;
  }
}