.todo-container {
  scrollbar-width: normal;
  scrollbar-color: red;
}

.todo-container::-webkit-scrollbar {
  width: 0.5vw;
}

.todo-container::-webkit-scrollbar-thumb {
  background-color: #1a314b;
}

.todo-container::-webkit-scrollbar-thumb:hover {
  background-color: #0e1a28;
}

.todo-container::-webkit-scrollbar-track {
  background-color: black;
}